!!!5
html
	head
		link(rel="stylesheet", type="text/css", href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css")
		title Solar Panel Administration
		link(rel="stylesheet", type="text/css", href="main.css")

		block header
	body
		header.navbar.navbar-static-top
			.navbar-inner
				a.brand() Solar Panel
		.main-content
			block content
		footer
			hr
			small Solar Panel Administration created by Levi Schuck
		script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.0/jquery.min.js")
		block javascript
