.tail-outputs{
	vertical-align: bottom;
	height: 10pc;
	overflow-y: scroll;
	-webkit-transition: all 0.1s ease-in-out;
	 -moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}
.shadowed {
	-moz-box-shadow: 2px 2px 10px #DDD;
	-webkit-box-shadow: 2px 2px 10px #DDD;
	box-shadow: 2px 2px 10px #DDD;
}